/* @tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */

.nav-txt{
  color: white;
}

.top{
  width: auto;
  height: 450px;
  background-color: grey;
}

.main-txt{
  height: fit-content;
  width: fit-content;
  padding-top: 100px;
  padding-left: 100px;
}

h1{
  font-size: 5rem;
}

#image-container {
  width: min-content;
  margin: 40px auto;
}

#image {
  max-width: 100%;
  height: auto;
  padding: 0 auto;
}

#description {
  text-align: center;
}


#image2{
  width: 200%;
}

#img2-holder{
  width: max-content;
  height: fit-content;
  margin-top: 50px;
  margin-left: 50px;
  position: absolute;
}

.description{
position: absolute;
width: fit-content;
left: 550px;
top: 150px;
}

#Price{
display: block;
width: fit-content;
}