/* @tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */

.nav-txt{
  color: white;
}

.top{
  width: auto;
  height: 450px;
  background-color: #52616B;
}

.main-txt{
  height: fit-content;
  width: fit-content;
  padding-top: 100px;
  padding-left: 100px;
}

h1{
  font-size: 5rem;
}

#image-container {
  width: min-content;
  margin: 40px auto;
}

#image {
  max-width: 100%;
  height: auto;
  padding: 0 auto;
}

#description {
  text-align: center;
}


#image2{
  width: 200%;
}

#img2-holder{
  width: max-content;
  height: fit-content;
  margin-top: 50px;
  margin-left: 50px;
  position: absolute;
}

.description{
position: absolute;
width: fit-content;
left: 550px;
top: 150px;
}

#Price{
display: block;
width: fit-content;
}

h3{
  font-size: 40px;
}












#body {
  background-color: #F0F5F9;
}

.jumbotron {
  background-color: #52616B;
  background-size: cover;
  color: #C9D6DF;
  text-align: center;
  padding: 100px;
  margin-bottom: 0px;
}

.tutorial-card {
  margin-bottom: 20px;
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.tutorial-card.animation-visible {
  opacity: 1;
  transform: none;
}

.slide-up {
  opacity: 0;
  transform: translateY(100px);
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.slide-up.animation-visible {
  opacity: 1;
  transform: none;
}

.holder {
  width: 100%;
  height: fit-content;
  background-color: #F0F5F9;
  padding: 50px 60px 0 60px;
  position: relative;
}

.holder2 {
  width: 100%;
  height: fit-content;
  background-color: #C9D6DF;
  padding: 50px 60px;
}

h2 {

  font-size: 90px;
  font-family: 'Prompt', sans-serif;
}

p {
  font-size: 20px;
  margin-top: 20px;
  margin-bottom: 35px;
}

.container {
  /* width: 50%; */
  margin-top: 30px;
}

.col{
  padding: 21px
}

.container1 {
  display: flex;
  background-color: #F0F5F9;
  padding-top: 20px;
  padding-right: 20px;
}

.column {
  flex: 1;
  padding: 10px;

  align-self: center;
}

.secondary-div {
  margin: 10px;
  padding: 20px;

  border: 1px solid #ccc;
}

.carousel-inner .carousel-item {
  background-color: black;
  width: 100%;
  height: fit-content;
  padding: 50px 70px;
}

.carousel-item p {
  color: #F0F5F9;
}

.carousel-head {
  padding: 20px;
  font-size: 60px;
  display: inline-block;
}

.hover-1 {
  &:after {
      content:'';
      position: absolute;
      width: 100%;
      height: 3px;
      bottom: 0;
      left: 0;
      background-color: #F0F5F9;
      transform: scaleX(0);
      transform-origin: bottom right;
      transition: transform 0.5s;
  }

  &:hover {
      &:after {
          transform-origin: bottom left;
          transform: scaleX(1);
      }
  }
}

.link {
  display: inline-block;
  position: relative;
  text-decoration: none;
  padding: 10px 0;
  color: #F0F5F9;
  left: 50%;
  transform: translateX(-50%);
}

.hover-2 { 
  &:after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      width: 100%;
      height: 3px;
      transform: scaleX(0);
      background-color:#F0F5F9 ;

      transition: transform 0.3s;
  }

  &:hover {
      &:after {
          transform: scaleX(0.8);    
      }
  }
}

.nav-link{
  line-height: 75px;
  font-size: 18px;
  font-family: 'Prompt', sans-serif;
  
}

.navbar-nav{
  position: absolute;
    right: 30px;
}

.navbar-collapse{
  width: fit-content;
    position: relative;
}

.navbar-brand{
  font-size: 30px;
  padding: 0;
  line-height: 75px;
  margin-left: 20px;
}

.nav-item{
  padding: 0 15px;
}

.card{
  height: 395px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
}

.card-text{
  display: inline;
    position: absolute;
    margin-top: 0px;
    top: 59px;
    margin-bottom: 0px;
}

.img-holder{
  height: 265px;
  align-items: center;
  display: flex;
  overflow: hidden;
  border-radius: 5px;
  justify-content: center;
}

.card-img-top{
  min-width: 300px;
  min-height: 300px;
}


.in {
  cursor: pointer;
  box-sizing: border-box;
  font-family: "Material Icons Outlined";
  font-weight: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  text-rendering: optimizelegibility;
  font-feature-settings: "liga" !important;
  font-size: 84px !important;
  color: rgb(204, 204, 204);
}


.image-input {
  position: relative;
  width: 400px;
  height: 300px;
  border: 3.5px dashed #999;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  overflow: hidden;
  border-radius: 20px;
  margin-bottom: 30px;
}

.image-input:hover {
  border-color: #555;
}

.image-input input[type="file"] {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.header{
  line-height: 1.5;
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
  color: rgb(18, 18, 18);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.create-title{
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
  line-height: 110%;
  margin-bottom: 16px;
  font-weight: 600;
  font-size: 55px;
  letter-spacing: 0px;
  color: rgb(18, 18, 18);
}

/****Loading Styles****/

/* body, html {
  height: 100%;
  text-align: center;
} */

.loadingDiv{
  text-align: center;
  height: 100vh;
}

.loader {
display: inline-block;
width: 30px;
height: 30px;
position: relative;
border: 4px solid black;
top: 50%;
animation: loader 2s infinite ease;
}

.loader-inner {
vertical-align: top;
display: inline-block;
width: 100%;
background-color: black;
animation: loader-inner 2s infinite ease-in;
}

@keyframes loader {
0% {
  transform: rotate(0deg);
}

25% {
  transform: rotate(180deg);
}

50% {
  transform: rotate(180deg);
}

75% {
  transform: rotate(360deg);
}

100% {
  transform: rotate(360deg);
}
}

@keyframes loader-inner {
0% {
  height: 0%;
}

25% {
  height: 0%;
}

50% {
  height: 100%;
}

75% {
  height: 100%;
}

100% {
  height: 0%;
}
}